@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Share&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*General style for body*/
body {
  font-family: "Poppins", sans-serif;
  background: conic-gradient(
    at 125% 50%,
    #b78cf7,
    #ff7c94,
    #ffcf0d,
    #ff7c94,
    #b78cf7
  );
}
/*style for wrapper*/
.wrapper-box {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 5px 2px rgb(80, 76, 76);
}

#digitalClock {
  width: fit-content;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
}

/* Media query*/
@media (max-width: 768) {
  #bar1,
  #bar2 {
    display: none;
  }
  #digitalClock {
    text-align: center;
    width: 100%;
  }
  /*
.digital_clock h3{
    display: block;
} */
}

@media (max-width: 480px) {
  h3 {
    font-size: 1rem;
  }
}
